@model IEnumerable<Rental>

@{
    ViewData["Title"] = "Daily Reservation Report";
}

<h2 class="text-center-danger">@ViewData["Title"]</h2>

<p>Displaying reservations for @Model.FirstOrDefault()?.Pickup.ToString("MM/dd/yyyy")</p>
<form asp-controller="Rental" asp-action="DailyReport" method="get">
    <div class="form-group col-10 d-flex">
        <label style="font-size:17px; padding-top:6px;" class="form-label" for="date">Date:</label>
        <input type="date" name="date" id="date" class="form-control col-9" />
    <button type="submit" class="btn btn-primary col-2 ml-2">Search</button>
    </div>
</form>
<table class="table mt-1">
    <thead class="thead-dark">
        <tr>
            <th>Reservation ID</th>
            <th>Reservation Date</th>
            <th>Vehicle ID</th>
            <th>Driver ID</th>        
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.RentalID</td>
                <td>@reservation.Pickup.ToString("MM/dd/yyyy")</td>
                <td>@reservation.VehicleID</td>
                <td>@reservation.employeeid</td>
                <!-- Add other reservation-related data here -->
            </tr>
        }
        @if(Model.Count() < 1)
        {
            <h2 class="text-warning text-center">No bookings to show</h2>
        }
    </tbody>
</table>

