@model Bike
<h1>Bike Details</h1>

<div class="card" style="width: 18rem;">

    <div class="card-body text-center">



        <div>Bike Owner : @Model.OwnerName</div>
        <div>Bike Model : @Model.BikeModel</div>
        <div>Bike Number : @Model.BikeNumberPlate</div>
        <div>Bike Colour : @Model.BikeColour</div>
        <div>Bike Chassis : @Model.ChassisNumber</div>
        <a asp-controller="Bike" asp-action="index" class="btn btn-info">Back</a>
        <a asp-controller="Bike" asp-action="Edit" asp-route-id="@Model.BikeId" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>

    </div>
</div>