@model IEnumerable<ApplicationUser>
@{
    ViewBag.title = "Pending Users";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>           
            <th scope="col">Approve User</th>
            <th scope="col">Delete User</th>
        </tr>
    </thead>
    <tbody>
        @ViewBag.Errormessage
        @foreach(var user in Model)
        {
        <tr>
            <td>@user.UserName</td>
            <td>@user.NormalizedUserName</td>
            <td>@user.Email</td>            
            <td>@user.IsApproved</td>
                <td><a class="btn btn-danger" asp-action="RejectUser" asp-controller="Admin" asp-route-id="@user.Id">Delete User</a></td>
                <td><a class="btn btn-success" asp-action="AppproveUser" asp-controller="Admin" asp-route-id="@user.Id">Approve User</a></td>
        </tr>
        }
    </tbody>

</table>

