@inject SignInManager<ApplicationUser> signInManager;
@using RentalAssignment.ViewModels
@model Vehicle
<h1 class="text-center">Car Details</h1>
@{
    var photopath = "~/images/" + (Model.Photopath);
}
<section class="vh-auto gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card card-stepper" style="border-radius: 16px;">
                    <div class="card-header p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <div>
                                    <h6 class="mb-0">Car Details </h6>
                                </div>
                            }                           
                           
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex flex-row mb-4 pb-2">
                            <div class="flex-fill">
                                <h2 class="bold text-secondary">Model : @Model.VehicleModel</h2>
                                <p class="text-muted">Car Colour : @Model.VehicleColour</p>
                                <p class="text-muted">Sitting Capacity : @Model.sittingCapacity <span class="small text-muted"> Person </span></p>
                                <h4 class="mb-3">Rent :  @Model.RentPerDay <span class="small text-muted"> /Day pkr </span></h4>
                                <p class="text-muted">Booking Status on: <span class="text-body">Available</span></p>
                                <p class="text-muted">Vehicle Category: <span class="text-body">@Model.VehicleCategory.CategoryName</span></p>
                            </div>
                            
                            <div>
                                <img class="align-self-center img-fluid"
                                     src="@photopath" width="250" asp-append-version="true">
                            </div>
                        </div>
                      
                    </div>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin")){
                    <div class="card-footer p-4">
                        <div class="d-flex justify-content-between">
                                <h5 class="fw-normal mb-0"><a class="btn text-light" style="background-color:#17a2b8;" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.VehicleId">Delete</a></h5>
                            <div class="border-start h-100"></div>
                                <h5 class="fw-normal mb-0"><a class="btn text-light" style="background-color:#17a2b8;" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.VehicleId">Update</a></h5>
                            <div class="border-start h-100"></div>
                                <h5 class="fw-normal mb-0"><a class="btn text-light" style="background-color:#17a2b8;" asp-controller="Home" asp-action="Index">Back</a></h5>
                            <div class="border-start h-100"></div>
                            <h5 class="fw-normal mb-0">
                                <a href="#!" class="text-muted"></a>
                            </h5>
                        </div>
                    </div>
                    }else{
                        <div class="card-footer p-4">
                            <div class="d-flex justify-content-between">
                                <h5 class="fw-normal mb-0"><a class="btn" style="background-color:#17a2b8;" asp-controller="Rental" asp-action="Booking" asp-route-id="@Model.VehicleId">Book Now</a></h5>                                
                                <div class="border-start h-100"></div>
                                <h5 class="fw-normal mb-0"><a class="btn" style="background-color:#17a2b8;" asp-controller="Home" asp-action="Index">Back</a></h5>                                                             
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>