@model Vehicle
<h1>Car Details</h1>

<div class="card" style="width: 18rem;">

    <div class="card-body text-center">



        <div>Vehicle Owner : @Model.OwnerName</div>
        <div>Vehicle Model : @Model.VehicleModel</div>
        <div>Vehicle Type : @Model.VehicleType </div>
        <div>Vehicle Number : @Model.VehicleNumberPlate</div>
        <div>Vehicle Colour : @Model.VehicleColour</div>
        <div>Vehicle Chassis : @Model.ChassisNumber</div>
        <a asp-controller="home" asp-action="index" class="btn btn-info">Back</a>
        <a asp-controller="home" asp-action="Edit" asp-route-id="@Model.VehicleId" class="btn btn-primary">Edit</a>
        <a asp-controller="home" asp-action="Delete" asp-route-id="@Model.VehicleId" class="btn btn-danger">Delete</a>

    </div>
</div>
