@model IEnumerable<Vehicle>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Vehicle Model</td>
                <td>Vehicle Type</td>
                <td>Vehicle Number</td>
                <td>Chassis Number</td>
                <td>Owner Name</td>
                <td>Vehicle Colour</td>
                <td>Vehicle Details</td>
                <td>Edit Vehicle Details</td>
                <td>Delete Vehicle</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model)
            {

                <tr>
                    <td>@vehicle.OwnerName</td>
                    <td>@vehicle.VehicleModel</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.VehicleNumberPlate</td>
                    <td>@vehicle.ChassisNumber</td>
                    <td>@vehicle.VehicleColour</td>
                    <td><a asp-controller="home" asp-action="Details" asp-route-id="@vehicle.VehicleId" class="btn btn-primary">View</a></td>
                    <td><a asp-controller="home" asp-action="Edit" asp-route-id="@vehicle.VehicleId" class="btn btn-info">Edit</a></td>
                    <td><a asp-controller="home" asp-action="Delete" asp-route-id="@vehicle.VehicleId" class="btn btn-danger">Delete</a></td>

                </tr>
            }
        </tbody>

    </table>

</div>