@model IEnumerable<Vehicle>
@{
    ViewBag.title = "Searched";
}


 <div class="container mt-3">
        <div class="booking-container">
        <form asp-action="GetAvailableCars" asp-controller="Home">
            <div class="row mx-n2">
                <div class="col-xl-4 col-lg-4 col-md-6 px-2">
                    <div class="time mb-3">
                        <input type="datetime" name="VehicleName" class="form-control p-3" placeholder="Drop your address" />
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 px-2">
                    <div class="date mb-3">
                        <input type="datetime-local" class="form-control p-4" placeholder="Pickup Date" />
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 px-2">
                    <div class="time mb-3">
                        <input type="datetime-local" class="form-control p-4" placeholder="Pickup Time" />
                    </div>
                </div>

                <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                    <button class="btn btn-primary btn-block mb-3" type="submit" style="height: 50px;background-color:#2b2e4a!important; color:white;border:none;">Search</button>
                </div>
            </div>
        </form>
       </div>
    </div>
<div class="container-fluid my-5">
    <div class="row">
       
        @foreach (var vehicle in Model)
        {
            var photoPath = "~/images/" + (vehicle.Photopath ?? "noimage.jpg");
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="rent-item mb-4" style="background-color:#eee;text-align:center;">
                    <img class="image" src="@photoPath" asp-append-version="true" alt="no image">
                    <h4 class="text-uppercase mb-4">@vehicle.VehicleModel</h4>
                    <div class="d-flex justify-content-center mb-4">
                        <div class="px-2">
                            <i class="fa fa-car  mr-1" style="color:#343a40 ;"></i>
                            <span>@vehicle.VehicleType</span>
                        </div>
                        <div class="px-2 border-left border-right">
                            <i class="fa fa-cogs  mr-1" style="color:#343a40 ;"></i>
                            <span>AUTO</span>
                        </div>
                        <div class="px-2">
                            <i class="fa fa-road  mr-1" style="color:#343a40 ;"></i>
                            <span>25K</span>
                        </div>
                    </div>
                    <a asp-controller="Rental" asp-action="Booking" asp-route-id="@vehicle.VehicleId" style="background-color:#000;color:#fff" class="btn   py-2 mr-1">BOOK NOW</a>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@vehicle.VehicleId" style="background-color:#17a2b8;" class="btn  py-2 ml-1">DETAILS</a>
                </div>
            </div>


        }
    </div>
</div>